[Unit]
Description=Start netlinkprocessor for RheaFlow
PartOf=RheaFlow.service
[Service]
Type=idle
WorkingDirectory=/usr/local/lib/python2.7/dist-packages/RheaFlow/
PIDFile=/var/run/RheaFlow/pid/NetlinkProcessor.pid
ExecStart=/usr/bin/python NetlinkProcessor.py

[Install]
WantedBy=multi-user.target
