[Unit]
Description=RheaFlow start up script
After=netlinkprocessor.service
BindsTo=netlinkprocessor.service
[Service]
Type=idle
WorkingDirectory=/usr/local/lib/python2.7/dist-packages/rheaflow/
PIDFile=/var/run/rheaflow/pid/rheaflow.pid
ExecStart=/usr/local/bin/ryu-manager RheaController.py --log-file /var/log/rheaflow

[Install]
WantedBy=multi-user.target
